<div class ="container fluid">
  <h1>Form</h1>
  <form>
    <div class="form-group">
      <label>Quantity Sold (Litres)</label>
      <input type="number" class="form-control" id="quantity sold"
       min="1" max="150" placeholder="Enter litres sold">
    </div>
    <div class="form-group">
      <label>Amount Collected (Naira)</label>
      <input type="number" class="form-control" id="amount"
       min="1" max="50000" placeholder="Naira collected from customer">
    </div>
    <div class="row">
      <!-- add: if available, auto suggest to user -->
      <div class="col">
        <label>License Plate</label>
        <input type="text" class="form-control" placeholder="XXXXXXXX" inputsize="8" id="license plate">
      </div>
      <div class="col">
        <label>Customer Type</label>
        <select class="form-control">
          <option value="1" selected>Private Car</option>
          <option value="2">Public Car</option>
          <option value="3">Walk-in</option>
        </select>
      </div>
    </div>
  </form>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- https://www.youtube.com/watch?v=xqqCPoEyoE0&list=PLC3y8-rFHvwhwL-XH04cHOpJnkgRKykFi&index=4 -->